<p/>salut</p>

<% if logged_in? %>
 <a id="homebtn1" class="btn btn-lg btn-success" href="/secretpage" style="width: 300px;"> on te dit tout !</a>
<% else %>
 <a id="homebtn1" class="btn btn-lg btn-info" href="/login" style="width: 300px;"> log toi fdp !</a>
<% end %>