<header>
   <nav class="navbar navbar-light" style="background-color: #aef88e; justify-content: space-around;">
       <a class="navbar-brand" href="/">Home</a>

       <% if logged_in? %>
  <%= link_to "Aller tchao!", logout_path, method: :delete %>
 <a id="homebtn1" class="btn btn-lg btn-info" href="/secretpage" style="width: 300px;"> regarde par la !</a>
 <a id="homebtn1" class="btn btn-lg btn-info" href="/users" style="width: 300px;"> Tema tous les fdp...</a>
 <% else %>
 <a id="homebtn1" class="btn btn-lg btn-info" href="/login" style="width: 300px;"> log toi mon brave !</a>

<% end %>

   </nav>
 </div>
</header>